<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Tile Selection Game</title>
  <!--css style files start-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/app.css">
  <!--css style end-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="container-fluid" ng-controller="TileGameCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="row">
        <div class="col-xs-3">
          <button class="btn btn-success" ng-click="startGame()">START</button>
        </div>
        <div class="col-xs-4">
          <div class="row">
            <label for="changeLevel" class="col-xs-4 text-right level-lbl">Level</label>
            <div class="col-xs-8">
              <select class="form-control" id="changeLevel" ng-model="selectedLevel" ng-change="changeLevel(selectedLevel)">
                <option ng-repeat="lvl in levels" ng-value="lvl.level">Level {{lvl.level + 1 + ' (' + lvl.levelDisplay + ')'}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <!--Timer-->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="grids-ct row">
            <div class="tile" ng-style="tileStyle" ng-repeat="tile in tiles">
              <div
                class="tile-data"
                ng-style="{backgroundColor: tile.color}"
                data-tile-id="{{tile.tileNumber}}"
                ng-click="tileClick(tile.tileNumber)" >
                <!--{{$index + 1}}-->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--script files start-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script src="JS/app.js"></script>
<script src="JS/tile/tile.js"></script>
<!--script files end-->
</body>
</html>
