<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Tile Selection Game</title>
  <!--css style files start-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/app.css">
  <!--css style end-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="container-fluid" ng-controller="TileGameCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="row">
        <div class="col-xs-12 text-center">
          <div class="game-title">Select Color Tiles</div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-lg-2 margin-bottom">
          <button ng-class="{'disabled btn-default':playing, 'btn-success':!playing}" class="btn start-game" ng-click="startGame()"><span ng-bind="playing ? 'Playing' : (chances == TOTALCHANCES ? 'START' : 'PLAY')"></span></button>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 margin-bottom">
          <div class="row">
            <label class="col-xs-6 level-lbl">Grid Size</label>
            <input class="col-xs-6 grid-size-input" list="gridSize" ng-disabled="playing" name="gridsize" ng-model="GRIDSIZE" ng-change="GRIDSIZE > 1 ? changeLevel(GRIDSIZE) : ''">
            <datalist id="gridSize">
              <option value="3">
              <option value="4">
              <option value="5">
              <option value="6">
              <option value="7">
              <option value="8">
            </datalist>
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-2 margin-bottom">
          <div class="row">
            <label class="col-xs-6 level-lbl">Lives</label>
            <input class="col-xs-6 grid-size-input" ng-change="chances = TOTALCHANCES;" ng-disabled="playing" name="lives" ng-model="TOTALCHANCES">
          </div>
        </div>
        <div class="col-xs-12 col-sm-3 col-lg-3 margin-bottom">
          <div class="row">
            <label class="col-xs-6 col-sm-8 col-lg-7 level-lbl">Colors Tiles</label>
            <input class="col-xs-6 col-sm-4 col-lg-5 grid-size-input" ng-disabled="playing" name="numberofcolortiles" ng-model="TILESTOCOLORED">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-lg-2 margin-bottom">
          <!--Timer-->
          <div class="row">
            <label class="col-xs-6 col-sm-6 col-lg-7 level-lbl">Time Left:</label>
            <label class="col-xs-6 col-sm-6 col-lg-5 time-remaining" ng-class="{'red-color': (timeRemaining <= 3000 && playing)}"><span ng-bind="(timeRemaining)/1000"></span> <span class="second">s</span></label>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="chances == TOTALCHANCES || chances == 0 || playerWin || !playing">
        <div class="col-xs-12 text-center" ng-class="{'warn-color':chances < 2}">
          <h3>Time's UP. You have {{chances}} more chance</h3>
        </div>
      </div>
      <div class="row" ng-show="playerWin || playerLoose">
        <div class="col-xs-12 text-center" ng-class="{'red-color': playerLoose,'green-color': playerWin}">
          <h3>{{ playerWin ? 'Congratulations. You Won !' : 'Sorry You loose, Try Again'}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="grids-ct row">
            <div class="tile" ng-style="tileStyle" ng-repeat="tile in tiles">
              <div
                class="tile-data"
                ng-class="{'colored':tile.colored}"
                ng-style="{backgroundColor: tile.color}"
                data-tile-id="{{tile.tileNumber}}"
                ng-click="tileClick(tile)" >
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--script files start-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script src="JS/app.js"></script>
<!--script files end-->
</body>
</html>
