<!DOCTYPE html>
<html ng-app="App">
<head>
  <title>Tile Selection Game</title>
  <!--css style files start-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="CSS/app.css">
  <!--css style end-->
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="container-fluid" ng-controller="TileGameCtrl">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-1 col-sm-10">
      <div class="row">
        <div class="col-xs-12">
          <h2>Select Color Tiles</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3">
          <button ng-class="{'disabled btn-default':playing, 'btn-success':!playing}" class="btn start-game" ng-click="startGame()"> {{chances == 3 ? 'START' : 'PLAY'}}</button>
        </div>
        <div class="col-xs-3">
          <div class="row">
            <label for="changeLevel" class="col-xs-4 text-right level-lbl">Level</label>
            <div class="col-xs-8">
              <select class="form-control" ng-class="{'disabled':playing}" id="changeLevel" ng-model="selectedLevel" ng-change="changeLevel(selectedLevel)">
                <option value="0" selected>Select</option>
                <option ng-repeat="lvl in levels" data-ng-value="lvl.level">{{lvl.level + 1 + ' (' + lvl.levelDisplay + ')'}}</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-xs-5">
          <!--Timer-->
          <div class="row">
            <label class="col-xs-6 text-right level-lbl">Time Left:</label>
            <label class="col-xs-6 text-left time-remaining" ng-class="{'red-color': (timeRemaining <= 3000 && playing)}">{{(timeRemaining)/1000}} <span class="second">s</span></label>
          </div>
        </div>
      </div>
      <div class="row" ng-hide="chances > 2 || chances == 0 || playerWin">
        <div class="col-xs-12 text-center" ng-class="{'red-color':chances < 2}">
          <h3>Time's UP. You have {{chances}} more Chance</h3>
        </div>
      </div>

      <div class="row" ng-show="playerWin || playerLoose">
        <div class="col-xs-12 text-center" ng-class="{'red-color': playerLoose,'green-color': playerWin}">
          <h3>{{ playerWin ? 'Congratulations. You Won !' : 'Sorry You loose, Try Again'}}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="grids-ct row">
            <div class="tile" ng-style="tileStyle" ng-repeat="tile in tiles">
              <div
                class="tile-data"
                ng-class="{'colored':tile.colored}"
                ng-style="{backgroundColor: tile.color}"
                data-tile-id="{{tile.tileNumber}}"
                ng-click="tileClick(tile)" >
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--script files start-->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script src="JS/app.js"></script>
<script src="JS/tile/tile.js"></script>
<!--script files end-->
</body>
</html>
